@model IEnumerable<web.Models.Avtor>

@{
    ViewData["Title"] = "Index";
}

<h1>Avtorji</h1>

<p>
    <a asp-action="Create">Dodaj avtorja</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AvtorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priimek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AvtorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priimek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AvtorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AvtorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AvtorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
